.calendar {
    background: white;
    width: 100%;
    box-shadow: 0px 0px 10px 0px #e7e7e7;
    border-radius: 10px;
    padding: 1em;
}

.calendar__header {
    display: flex;
    margin-bottom: 1em;
    
}

.calendar__header > .header__time {
    width: 6%;
}

.calendar__header > .header__day {
    width: 13.34%;
    padding-left: .5em;
    color: #999;
    font-weight: 700;
}

.calendar__body { 
    display: flex;
}

.calendar__time {
    width: 6%;
    color: #999;
    
}

.calendar__time > .time__part {
    height: 50px;
    border-right: 1px solid #ededed;
    font-size: .75rem;
    text-align: right;
    padding-right: 1em;
}


.calendar__day {
    width: 13.34%;
    border-right: 1px solid #ededed;
    border-top: 1px solid #ededed;
    height: 100%;
    position: relative;
}

.calendar__day > .day__part {
    height: 50px;
    border-bottom: 1px solid #ededed;
}

.calendar__day > .calendar__event {
    position: absolute;
    top: 0;
    height: 45px;
    background: #00a5ff;
    color: white;
    width: 95%;
    font-size: .75rem;
    padding: .5em;
    border-radius: 3px;
}

.calendar__day > .calendar__event_2 {
    position: absolute;
    top: 50px;
    height: 95px;
    background: #c00000;
    color: white;
    width: 95%;
    font-size: .75rem;
    padding: .5em;
    border-radius: 3px;
}

.calendar .event__dialog {
    position: absolute;
    background: white;
    width: 200px;
    box-shadow: 0px 0px 36px 7px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
}

.event__dialog > header {
    display: flex;
    background: #00a5ff;
    padding: 1em;

    color: white;
}

.event__dialog > header > .header__title {
    flex: 1;
}

.event__dialog > header > .header__title > h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.event__dialog > header > .header__close {
    width: 30px;
    display: flex;
    justify-content: flex-end;
}

.event__dialog > header > .header__close > svg {
    top: 3px;
    position: relative;
    color: #94d9ff;
    transition: color .2s;
    cursor: pointer;
}

.event__dialog > header > .header__close > svg:hover {
    color: white;
}

.event__dialog > .event__body {
    padding: 1em;
}

.event__dialog > .event__body > .event__metadata {
    margin-bottom: 1.25em;
}

.event__dialog > .event__body > .event__metadata:last-child {
    margin-bottom: 0;
}

.event__dialog > .event__body > .event__metadata > .meta__icon {
    margin-bottom: .25em;
}

.event__dialog > .event__body > .event__metadata > .meta__icon > svg {
    color:#bcbcbc;
}

.event__dialog > .event__body > .event__metadata > .meta__value {
    color: #666;
}



